// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');//mine
}

@font-face {
  font-family: 'Pacifico Regular';
  src: url('../assets/fonts/Pacifico/Pacifico-Regular.ttf');//mine
}
