ion-content {
  --background: none;
}

.content {
  background-image: url('/assets/images/login.png');
  background-size: cover; /* Ensures the image covers the entire page */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  height: 100vh; /* Ensure the background covers the full height */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.welcomeContent{
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
