<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="onSubmit()">
    <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="name" name="name" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Experience</ion-label>
          <ion-input [(ngModel)]="experience" name="experience" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input [(ngModel)]="mobile" name="mobile" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Location</ion-label>
        </ion-item>
      </ion-list>
  </form>

</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="onSubmit()">Submit</ion-button>
</ion-footer>
